.custom-button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.15s ease;
  position: relative;
  overflow: hidden;
}

.custom-button span {
  position: absolute;
  display: block;
  background: var(--hover-color);
}

/* TOP */
.custom-button span:nth-child(1) {
  height: 2px;
  width: 0;
  top: 2px;
  left: 8px;
  transition: width 0.4s ease-in-out;
}

.custom-button:hover span:nth-child(1) {
  width: calc(100% - 16px); 
}

/* RIGHT */
.custom-button span:nth-child(2) {
  width: 2px;
  height: 0;
  top: 8px;
  right: 2px;
  transition: height 0.4s ease-in-out ;
}

.custom-button:hover span:nth-child(2) {
  height: calc(100% - 16px);
}

/* BOTTOM */
.custom-button span:nth-child(3) {
  height: 2px;
  width: 0;
  bottom: 2px;
  right: 8px;
  transition: width 0.4s ease-in-out ;
}

.custom-button:hover span:nth-child(3) {
  width: calc(100% - 16px);
}

/* LEFT */
.custom-button span:nth-child(4) {
  width: 2px;
  height: 0;
  bottom: 8px;
  left: 2px;
  transition: height 0.4s ease-in-out;
}

.custom-button:hover span:nth-child(4) {
  height: calc(100% - 16px);
}

/* HOVER TRIGGER */
.custom-button:hover span:nth-child(1) {
  width: 100%;
}

.custom-button:hover span:nth-child(2) {
  height: 100%;
}

.custom-button:hover span:nth-child(3) {
  width: 100%;
}

.custom-button:hover span:nth-child(4) {
  height: 100%;
}

