.save {
    background: green;
    color: white;
}

.delete {
    background: red;
    color: white;
}

input {
    padding: 0.1rem 0.5rem;
    font-size: 1.5rem;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.header__title {
    display: flex;
    position: absolute;
    top: 0px;
    justify-content: left;


}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.todo__container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.todo-inner__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 2px red;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.todo-text {
    background-color: red;
    width: 75%;
    border-radius: 10px;

}

.completed {
    background-color: green;
    width: 75%;
    border-radius: 10px;

    
}

.header__title {
    display: flex;
    width: 100%;
    height: auto    ;
    border-bottom: 2px red solid;
    background-color: blue;
}

.button__container {
    display: flex;
    justify-content: space-between;
    width: 15%;
}