.save {
    background: green;
    color: white;
}

.delete {
    background: red;
    color: white;
}

input {
    padding: 0.1rem 0.5rem;
    font-size: 1.5rem;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.header__title {
    display: flex;
    position: absolute;
    top: 0px;
    justify-content: left;


}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.todo__container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    gap: 15px;
}

.todo-inner__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 2px #999;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.todo-outer__container {
    display: flex;

}
.todo-text {
    width: 75%;
    border-radius: 10px;

}

.completed {
    background-color: green;
    width: 75%;
    border-radius: 10px;

    
}

.header__title {
    display: flex;
    width: 100%;
    height: auto    ;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.button__container {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  
  background: linear-gradient(45deg, #333, #000);
  border: 4px solid #999;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;

  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.sidebar {
    background-color: #111;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 100px 0px 0px 0px;
    gap: .5rem;
}

.app-layout {
    display: flex;
    height: 100vh;
}

.main-content {
    flex: 1;
    width: 80%;
 
}

.filters {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.add-todo {
    display: flex;
    justify-content: center;
    gap: .5rem;
    
}

.save-todo {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.empty-state {
  margin-top: 20px;
  color: #888;
  text-align: center;
  font-style: italic;
}