#root {
  width: 100%;
}

div {
  display: block;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  text-align: center;

}

p {
  font-size: 30px;
  text-align:center;
}

.user-logged__container {
  display: flex;
  position: absolute;
  right: 10px;
  top: 20px;
  gap: 20px;
  width: 50%;
  height: 50px;
  justify-content: right;
  align-items: center;
}

