#root {
  width: 100%;
}

div {
  display: block;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  text-align: center;

}

p {
  font-size: 30px;
  text-align:center;
}

.user-logged__container {
  display: flex;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%;
  justify-content: right;
}

