.home {
padding: 100px;
}
.home__header { 
    display: flex;
    flex-direction: row;
    align-items: center;

}

.team-view {
    display: flex;
    flex-direction: row;
}

.greeting__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
    margin: 50px;
}

