.home {
padding: 100px;
}
.home__header { 
    display: flex;
    flex-direction: row;
    align-items: center;

}


.greeting__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
    margin: 50px;
}


.team-view {
    display: flex;
    flex-direction: row;
}

.team-actions {
  margin-bottom: 16px;
}

.project__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: #131313;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;

  border: 1px solid #ddd;

  transition: transform 0.2s ease;
}

.project-card:hover {
  transform: translateY(-4px);
}

@media (max-width: 768px) {
  .home {
    padding: 80px 20px 20px 20px;
  }

  .greeting__container {
    margin: 20px 0;
    width: 100%;
  }

  .home__header {
    gap: 10px;
  }

  .team-view {
    flex-direction: column;
  }
}

@media ( max-width: 490px) {
  .home__header {
    flex-direction: column; 
  }
  .greeting__container {
    align-items: center;
  }
}